<div class="row">
  <h3><b>Student Enrolment Angular Application</b></h3>
  <h4>This application implements the following:</h4>
  <h4>HTML Form Patterns</h4>
  <h4>
    <ul>
      <li>Get All - (List, GET Method)</li>
      <li>Get All - Restricted (Filtered List, GET Method w/ Mongoose Tasks)</li>
      <li>Get One - (Detail, GET Method w/ Unique Identification Value)</li>
      <li>Edit (PUT Method)</li>
      <li>Create (POST Method)</li>
      <li>Delete (DELETE Method)</li>
    </ul>
  </h4>
  <h4>Web Service API Fetch Interactions</h4>
  <h4>
    <ul>
      <li>Data is fetched from a remote service in JSON format to be rendered in the app.</li>
    </ul>
  </h4>
  <h4>Angular Routing</h4>
  <h4>
    <ul>
      <li>Routing for page navigation, redirection and 404 routes are implemented for ease of traversal.</li>
    </ul>
  </h4>
  <h4>Angular Fundamentals</h4>
  <h4>
    <ul>
      <li>Fundamental Angular concepts used here would include directives, interfaces, services, etc...</li>
    </ul>
  </h4>
</div>