<div class="gridCells">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>8:00</td>
        <td>
          <app-course-cell [cellData]="gridCells[1]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[16]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[31]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[46]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[61]"></app-course-cell>
        </td>
      </tr>
      <tr>
        <td>8:55</td>
        <td>
          <app-course-cell [cellData]="gridCells[2]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[17]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[32]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[47]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[62]"></app-course-cell>
        </td>
      </tr>
      <tr>
        <td>9:50</td>
        <td>
          <app-course-cell [cellData]="gridCells[3]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[18]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[33]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[48]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[63]"></app-course-cell>
        </td>
      </tr>
      <tr>
        <td>10:45</td>
        <td>
          <app-course-cell [cellData]="gridCells[4]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[19]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[34]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[49]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[64]"></app-course-cell>
        </td>
      </tr>
      <tr>
        <td>11:40</td>
        <td>
          <app-course-cell [cellData]="gridCells[5]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[20]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[35]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[50]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[65]"></app-course-cell>
        </td>
      </tr>
      <tr>
        <td>12:35</td>
        <td>
          <app-course-cell [cellData]="gridCells[6]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[21]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[36]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[51]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[66]"></app-course-cell>
        </td>
      </tr>
      <tr>
        <td>1:30</td>
        <td>
          <app-course-cell [cellData]="gridCells[7]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[22]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[37]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[52]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[67]"></app-course-cell>
        </td>
      </tr>
      <tr>
        <td>2:25</td>
        <td>
          <app-course-cell [cellData]="gridCells[8]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[23]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[38]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[53]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[68]"></app-course-cell>
        </td>
      </tr>
      <tr>
        <td>3:20</td>
        <td>
          <app-course-cell [cellData]="gridCells[9]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[24]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[39]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[54]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[69]"></app-course-cell>
        </td>
      </tr>
      <tr>
        <td>4:15</td>
        <td>
          <app-course-cell [cellData]="gridCells[10]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[25]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[40]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[55]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[70]"></app-course-cell>
        </td>
      </tr>
      <tr>
        <td>5:10</td>
        <td>
          <app-course-cell [cellData]="gridCells[11]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[26]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[41]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[56]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[71]"></app-course-cell>
        </td>
      </tr>
      <tr>
        <td>6:05</td>
        <td>
          <app-course-cell [cellData]="gridCells[12]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[27]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[42]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[57]"></app-course-cell>
        </td>
        <td>
          <app-course-cell [cellData]="gridCells[72]"></app-course-cell>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Course</th>
        <th>Day</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of coursesSelectedForUI">
        <td>{{ c.courseCode }}</td>
        <td>
          <span *ngIf="c.classMon == 'Y'">Monday</span>
          <span *ngIf="c.classTue == 'Y'">Tuesday</span>
          <span *ngIf="c.classWed == 'Y'">Wednesday</span>
          <span *ngIf="c.classThu == 'Y'">Thursday</span>
          <span *ngIf="c.classFri == 'Y'">Friday</span><br>
        </td>
        <td>{{ c.classStart }}</td>
        <td>{{ c.classEnd }}</td>
      </tr>
    </tbody>
  </table>
</div>