<div class="row">
  <div id="main-info" class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div *ngIf="student" class="col-md-6">
          <h4><b>{{student.givenName + ' ' + student.familyName}}</b></h4>
        </div>
        <div *ngIf="student" class="col-md-6">
          <a class="btn btn-default btn-md" routerLink="/getall/{{student.studentId}}"
            routerLinkActive="active">Details</a>&nbsp;
          <a class="btn btn-warning btn-md" routerLink="/put/{{student.studentId}}"
            routerLinkActive="active">Edit</a>&nbsp;
          <a class="btn btn-danger btn-md" routerLink="/delete/{{student.studentId}}"
            routerLinkActive="active">Delete</a>
        </div>
        <div *ngIf="!student" class="col-md-6">
          <h4><b>No student info found, please load student from student list!</b></h4>
        </div>
        <div *ngIf="!student" class="col-md-6">
          <a class="btn btn-success btn-md" routerLink="/getall" routerLinkActive="active">Back To Student
            List</a>&nbsp;
        </div>
      </div>
    </div>
    <br />
    <div *ngIf="student" class="col-md-6">
      <h4><b>ID: {{student.studentId}}, Course Selection for {{student.givenName + ' ' + student.familyName}}</b></h4>
    </div>
    <div *ngIf="student" class="col-md-6">
      <a class="btn btn-default btn-md" (click)="taskClear()">Clear</a>&nbsp;
      <a class="btn btn-info btn-md" (click)="taskSaveCart()">Save For Later</a>&nbsp;
      <a class="btn btn-primary btn-md" (click)="taskConfirmTable()">Confirm Timetable</a>
      <div id="action-message"></div>
    </div>
    <div *ngIf="student" class="col-md-12">
      <h4><b>Possible Courses for Next Term ({{coursesMatched.length}} courses)</b></h4>
    </div>
    <div id="possible-courses" *ngIf="student" class="col-md-7">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Course</th>
            <th>Day and Times</th>
            <th>Enrolled</th>
            <th>Professor</th>
            <th>Add/Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of coursesMatched">
            <td>{{ c.courseCode }} - {{ c.section }} ({{ c.termSectionId }})</td>
            <td>
              <span *ngIf="c.classMon == 'Y'">Monday</span>
              <span *ngIf="c.classTue == 'Y'">Tuesday</span>
              <span *ngIf="c.classWed == 'Y'">Wednesday</span>
              <span *ngIf="c.classThu == 'Y'">Thursday</span>
              <span *ngIf="c.classFri == 'Y'">Friday</span><br>
              {{ c.classStart }} -
              {{ c.classEnd }}
            </td>
            <td>{{ c.enrolTotal }}</td>
            <td>{{ c.professor }}</td>
            <td><button [ngClass]="['btn', isCourseSelected(c) ? 'btn-danger' : 'btn-success']"
                (click)="courseSelect(c)">+ / -</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="student" class="col-md-5">
      <h4><b>Selected courses</b></h4>
      <app-course-timetable [coursesSelected]="coursesSelected"></app-course-timetable>
    </div>
  </div>
  <div class="col-md-12">

  </div>
</div>