<div class="row">
  <h3>Student Enrolment Angular App</h3>
  <div class="btn-group-lg">
      <button type="button" class="col-md-2 btn" routerLink="/home" routerLinkActive="active">Home</button>
      <button type="button" class="col-md-2 btn" routerLink="/about" routerLinkActive="active">About</button>
      <button type="button" class="col-md-2 btn" routerLink="/getall" routerLinkActive="active">Student List</button>
      <button type="button" class="col-md-2 btn" routerLink="/courselist" routerLinkActive="active">Course List</button>
      <button type="button" class="col-md-2 btn" routerLink="/cart" routerLinkActive="active">Course Select</button>
      <button type="button" class="col-md-2 btn" routerLink="/notfound" routerLinkActive="active">404</button>
  </div>
</div>