<div class="row" *ngIf="student">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h3>Edit Student: {{student.givenName + ' ' + student.familyName}} <span>[Feature disabled]</span></h3>
            </div>
          </div>
        </div>
      </div>
  <div class="col-md-8">
    <form (ngSubmit)='editStudent()' #f='ngForm'>

      <div class="form-group">
        <label class="control-label" for="givenName">First Name:</label>
        <input class="form-control" id="givenName" name="givenName" [(ngModel)]="updatedStudent.givenName" required
          autofocus>
      </div>

      <div class="form-group">
        <label class="control-label" for="familyName">Last Name:</label>
        <input class="form-control" id="familyName" name="familyName" [(ngModel)]="updatedStudent.familyName" required
          autofocus>
      </div>

      <div class="form-group">
        <label class="control-label" for="academicProgram">Academic Program:</label>
        <input class="form-control" id="academicProgram" name="academicProgram"
          [(ngModel)]="updatedStudent.academicProgram" required autofocus>
      </div>

      <div class="form-group">
        <label class="control-label" for="birthDate">Birth Date:</label>
        <input class="form-control" id="birthDate" name="birthDate" [(ngModel)]="updatedStudent.birthDate" required
          autofocus>
      </div>

      <div class="form-group">
        <label class="control-label" for="email">Email:</label>
        <input class="form-control" id="email" name="email" [(ngModel)]="updatedStudent.email" required autofocus>
      </div>

      <div class="form-group">
        <label class="control-label" for="academicLevel">Academic Level:</label>
        <input class="form-control" id="academicLevel" name="academicLevel" [(ngModel)]="updatedStudent.academicLevel"
          required autofocus>
      </div>

      <div class="form-group">
        <label class="control-label" for="gpa">Grade Point Average:</label>
        <input class="form-control" id="gpa" name="gpa" [(ngModel)]="updatedStudent.gpa" required autofocus>
      </div>

      <button class="btn btn-info" disabled type="submit">Save</button>&nbsp;
      <a routerLink="/getall" class="btn btn-warning">Back to List of Students</a>

    </form>
    <p>&nbsp;</p>

  </div>
  <div class="col-md-4">
    <h4>Your changes:</h4>
    <p class="lead"><code>ID [Cannot Edit]: {{ updatedStudent.studentId | json }}</code></p>
    <p class="lead"><code>First Name: {{ updatedStudent.givenName | json }}</code></p>
    <p class="lead"><code>Last Name: {{ updatedStudent.familyName | json }}</code></p>
    <p class="lead"><code>Academic Program: {{ updatedStudent.academicProgram | json }}</code></p>
    <p class="lead"><code>Birth Date: {{ updatedStudent.birthDate | json }}</code></p>
    <p class="lead"><code>Email: {{ updatedStudent.email | json }}</code></p>
    <p class="lead"><code>Academic Level: {{ updatedStudent.academicLevel | json }}</code></p>
    <p class="lead"><code>Grade Point Average: {{ updatedStudent.gpa | json }}</code></p>
  </div>
</div>

<div *ngIf="!student">
  <p>Student with ID: {{student.studentId}} could not be located!</p>
  <p><a routerLink="/getall" class="btn btn-warning">Back to Student List</a></p>
</div>